### QUESTION-1

In [65]:
for i in range(6,1,-1):
    for j in range(i,1,-1):
        print("5", end=" ")
    print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

### QUESTION-2

In [6]:
for i in range(6,1,-1):
    for j in range(0,i,1):
        print(j, end=" ")
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

### QUESTION-3

In [8]:
for i in range(0,6,1):
    for j in range(0,i,1):
        print(2*i-1, end=" ")
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

### QUESTION-4

In [10]:
for i in range(1,6,1):
    for j in range(0,i,1):
        print(i-j, end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

### QUESTION-5

In [12]:
k=1
for i in range(1,5,1):
    for j in range(0,i,1):
        print(k-j, end=" ")
    k=k+i+1
    print()

1
3 2
6 5 4
10 9 8 7

### QUESTION-6

In [19]:
from math import factorial
n = 7
for i in range(n):
	for j in range(i+1):
		print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")
	print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

### QUESTION-7

In [24]:
for i in range (1,6):
    for j in range (1,6):
        if i>j:
            print(i, end=" ")
        else:
            print(j, end=" ")
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

### QUESTION-8

In [28]:
for i in range(1,9):
    x=1
    for j in range(1,i+1):
        n=i*x
        print(n, end=" ")
        x+=1
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

### QUESTION-9

In [32]:
n=int(input("Enter a Number: "))
for i in range(n,0,-1):
    print(" "*(n-i)+"* "*i)

Enter a Number: 6
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

### QUESTION-10

In [33]:
n=int(input("Enter a Number: "))
for i in range(1,n+1):
    print(" "*(n-i)+"* "*i)

Enter a Number: 6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

### QUESTION-11

In [36]:
for i in range(1,7):
    print("* "*i)
    
print()
for i in range(6,0,-1):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

### QUESTION-12

In [39]:
for i in range(1,6):
    print("* "*i)
for i in range(4,0,-1):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### QUESTION-13

In [46]:
a= int(input("Enter a Number: "))
for i in range (1,a+1):
    print("  "*(a-i)+"* "*i)
for i in range (a-1,0,-1):
    print("  "*(a-i)+"* "*i)

Enter a Number: 10
                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *
* * * * * * * * * *
  * * * * * * * * *
    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

### QUESTION-14

In [58]:
a= int(input("Enter a Number: "))
for i in range (n,0,-1):
    print(" "*(a-i)+"* "*i)
for i in range (1,a+1):
    print(" "*(a-i)+"* "*i)

Enter a Number: 6
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

### QUESTION-15

In [57]:
for i in range(1,9):
    for j in range(1,17):
        if(j<=9-i or j>=8+i):
            print("*", end="")
        else:
            print("_",end="")
    print()

****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*

In [ ]:

for i in range(6,1,-1):
    for j in range(i,1,-1):
        print("5", end=" ")
    print()